<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
<div class="card">
  <div class="card-header">
      <h3>List your Car</h3>
  </div>
      <div class="card-body">
          <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
              <div class="tab-panel">
                  <tabset class="member-tabset" #formTabs>
                      <tab heading="Basic Info" formGroupName="BasicInfo">
                          <div class="form-group col-12">
                          <p>I want to</p>
                              <div class="btn-group"
                              btnRadioGroup
                              formControlName="SellRent">
                                  <label class="btn btn-outline-primary mr-2"
                                  btnRadio=1 tabindex="0" role="button" name="SellRent">Sell</label>
                                  <label class="btn btn-outline-primary"
                                  btnRadio=2 tabindex="0" role="button" name="SellRent">Rent</label>
                              </div>
                              <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                                Please select sell or rent
                              </div>
                          </div>

                          <div class="form-group col-12">
                              <p>No. of Seats</p>
                                  <div class="btn-group" btnRadioGroup
                                  formControlName="Seats"
                                  [(ngModel)]="propertyView.Seats" name="Seats">
                                      <label
                                      *ngFor="let seats of [2,5,7]"
                                      class="btn btn-outline-primary mr-2"
                                      [btnRadio]=seats tabindex="0" role="button"
                                      name="SellRent">
                                      {{seats}}
                                      </label>
                                  </div>
                                  <div class="error-block" *ngIf="Seats.invalid && nextClicked">
                                    Please select no. of seats
                                  </div>
                          </div>

                          <div class="form-group col-12">
                              <p>Car Type</p>
                                  <div class="btn-group" btnRadioGroup
                                  formControlName='Type'
                                  [(ngModel)]="propertyView.Type">
                                      <label
                                      *ngFor="let ptype of carTypes"
                                      class="btn btn-outline-primary mr-2"
                                      [btnRadio]=ptype tabindex="0" role="button"
                                      name="CarType">{{ptype}}
                                      </label>
                                  </div>
                                  <div class="error-block" *ngIf="Type.invalid && nextClicked">
                                    Please select car type
                                  </div>
                          </div>

                          <div class="form-group col-12">
                              <p>Car Color</p>
                                  <div class="btn-group" btnRadioGroup
                                  formControlName='Color'
                                  [(ngModel)]="propertyView.Color">
                                      <label
                                      *ngFor="let ctype of colorTypes"
                                      class="btn btn-outline-primary mr-2"
                                      [btnRadio]=ctype tabindex="0" role="button"
                                      name="Color">
                                      {{ctype}}
                                      </label>
                                    </div>
                                    <div class="error-block" *ngIf="Color.invalid && nextClicked">
                                      Please select car color
                                    </div>
                          </div>

                          <div class="form-group col-12">
                              <label>Car Name</label>
                              <input type="text" class="form-control"
                              ngModel
                              formControlName="Name"
                              [(ngModel)]="propertyView.Name">
                              <div class="error-block"
                              *ngIf="Name.invalid && (nextClicked||Name.touched)">
                              Please select Car Name
                              </div>
                              <!--<span *ngIf="!Name.valid && Name.touched" class="error-block">
                                  <span *ngIf="!Name.errors.required">Please provide the name</span>
                                  <span *ngIf="!Name.errors.minlength">Name must be atleast 5 char long</span>
                              </span>-->
                          </div>

                          <div class="form-group col-12">
                              <label for="Type">City</label>
                              <select class="form-control"
                              formControlName="City"
                              [(ngModel)]="propertyView.City">
                                <option value="" >--Select City--</option>
                                <option *ngFor="let city of cityList"
                                value={{city.id}}>
                                {{city.name}}
                                </option>
                              </select>
                              <div class="error-block"
                              *ngIf="City.invalid && (nextClicked || City.touched)">
                                Please select city
                              </div>
                          </div>
                          <div class="form-group col-12">
                            <button type="button"
                            class="btn btn-primary btn-block"
                            (click)="selectTab(1, BasicInfo.valid)">Next</button>
                        </div>
                      </tab>

                      <tab heading="Pricing Information" formGroupName="PriceInfo" >
                          <div class="form-group col-12">
                            <label *ngIf="SellRent.value==1">Price (in Rs)</label>
                            <label *ngIf="SellRent.value==2">Rent (in Rs)</label>
                              <input type="text" class="form-control"
                              formControlName="Price"
                              [(ngModel)]="propertyView.Price">
                              <div class="error-block"
                              *ngIf="PriceInfo.invalid && (nextClicked || Price.touched)">
                              Please select
                              <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                              <ng-template #ShowRent>rent</ng-template>
                              </div>
                            </div>

                            <div *ngIf="SellRent.value==2">
                            <div class="form-group col-12">
                              <label>Security (in Rs)</label>
                              <input type="text"
                              formControlName="Security"
                              class="form-control">
                            </div>

                            <div class="form-group col-12">
                              <label>Maintenance (in Rs)</label>
                              <input type="text"
                              formControlName="Maintenance"
                              class="form-control">
                            </div>
                          </div>

                          <div class="form-group col-12">
                            <button type="button" class="btn btn-primary btn-block"
                                (click)="selectTab(2,OtherInfo.valid)">Next</button>

                            <button type="button" class="btn btn-primary btn-block"
                                (click)="selectTab(0,OtherInfo.valid)">Back</button>
                          </div>
                      </tab>

                      <tab heading="Address Information" formGroupName="AddressInfo">

                          <div class="form-group col-12">
                              <label>Address</label>
                              <input type="text"
                              class="form-control"
                              formControlName="Address">
                              <div class="error-block"
                              *ngIf="Address.invalid && (nextClicked || Address.touched)">
                                Please select address
                              </div>
                          </div>

                          <div class="form-group col-12">
                              <label>Landmark</label>
                              <input type="text"
                              formControlName="LandMark"
                              class="form-control">
                          </div>

                          <div class="form-group col-12">
                            <button type="button" class="btn btn-primary btn-block"
                            (click)="selectTab(3,AddressInfo.valid)">Next</button>

                            <button type="button" class="btn btn-primary btn-block"
                            (click)="selectTab(1,AddressInfo.valid)">Back</button>
                          </div>
                      </tab>

                      <tab heading="Other Details" formGroupName="OtherInfo">
                          <div class="form-group col-12">
                              <label>Description</label>
                              <textarea type="text"
                              formControlName="Description"
                              class="form-control"
                              rows="6"></textarea>
                          </div>

                          <div class="form-group col-12">
                            <button type="button" class="btn btn-primary btn-block"
                                (click)="selectTab(4,OtherInfo.valid)">Next</button>

                            <button type="button" class="btn btn-primary btn-block"
                                (click)="selectTab(2,OtherInfo.valid)">Back</button>
                          </div>
                      </tab>
                      <tab heading="Photos">
                          <div class="form-group col-12">
                              <div class="photo-control">
                                  <button class="mt-5" type="button">Upload</button> <br>
                                  This is under construction
                              </div>
                            </div>
                            <div class="form-group col-12">
                              <button type="button" class="btn btn-primary btn-block"
                                  (click)="selectTab(3,true)">Back</button>
                              <button type="reset" class="btn btn-primary btn-block">Cancel</button>
                              <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>
                      </tab>
                  </tabset>
              </div>
          </form>
      </div>
</div>
</div>
<div class="col-4">
  <div class="card-header">
      <h3>Your Car Review</h3>
  </div>
      <div class="shadow-lg p-3 bg-white">
          <app-property-card [property]="propertyView" hideIcons="true"></app-property-card>
      </div>
  </div>
</div>
